@model Demo1.Models.Product


<tr>
    <td>
        @Model.ProductId
    </td>
    <td>
        @Model.ProductName
    </td>
    <td>
        @Model.ProductCode
    </td>
    <td>
        @Model.Price
    </td>
    <td>
        @Model.Color
    </td>

</tr>










